body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.darkContainer,
.darkContainer * {
    background-color: black !important;
    color: #fff !important;
}

.greenContainer,
.greenContainer * {
    background-color: green !important;
    color: #fff !important;
}